<link rel="stylesheet" href="{{url_for('static',filename="css/semantic.min.css")}}">
<link rel="stylesheet" href="{{url_for('static',filename="css/main.css")}}">
<script type="text/javascript" src={{url_for('static',filename="js/vendor.js")}}></script>
<script type="text/javascript" src={{url_for('static',filename="js/forrest.js")}}></script>
<script type="text/javascript" src={{url_for('static',filename="js/semantic.min.js")}}></script>
<script type="text/javascript" src={{url_for('static',filename="js/main.js")}}></script>